<div *ngIf="currentTutorial" class="edit-form">
  <h4>Tutorial</h4>
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="currentTutorial.title" name="title" />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" id="description" class="md-textarea form-control overFlow" rows="3" name="description"
        [(ngModel)]="currentTutorial.description"></textarea>
    </div>

    <div class="form-group">
      <label><strong>Status:</strong></label>
      {{ currentTutorial.published ? "Published" : "Pending" }}
    </div>
  </form>

  <button class="badge badge-primary mr-2" *ngIf="currentTutorial.published" (click)="updatePublished(false)">
    UnPublish
  </button>

  <button *ngIf="!currentTutorial.published" class="badge badge-primary mr-2" (click)="updatePublished(true)">
    Publish
  </button>

  <button class="badge badge-danger mr-2" (click)="confirmation()">
    Delete
  </button>

  <button type="submit" class="badge badge-success" (click)="updateTutorial()">
    Update
  </button>

  &nbsp;
  <button type="submit" class="badge badge-secondary" (click)="clearTutorial()">
    Clear
  </button>

  <p>&nbsp;
  <p>{{ message }}</p>
</div>

<div *ngIf="!currentTutorial">
  <br />
  <p>Cannot access this Tutorial...</p>
</div>