.list {
	text-align: left;
	max-width: 750px;
	margin: auto;
}

li.list-group-item:hover {
	background-color: rgb(250, 250, 234);
	color: black;
	border: solid 2px blue;
}

li.list-group-item:active:hover {
	background-color: blue;
	color: rgb(255, 254, 254);
}
